body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-screen-image {
  background-image: url("image/black-white-mountain-background_23-2150531007.avif");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh;
  position: relative; 
}
.circle {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid #c9c1c1;
  border-radius: 50%;
  transform: translate(-50%, -300%);
}
.diamond-icon{
  width: 30px;
  height: 30px;
}
.vertical-bar {
  width: 5px; 
  border-radius: 105px;
  height: 70px; 
  background-color: #c9c1c1; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -175%); 
}
.horizontal-bar {
  border-radius: 105px;
  width: 80%; 
  height: 5px; 
  background-color: #c9c1c1; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -1000%); 
}
.header{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  position: absolute;
  color: #bc8181;
  width: 300px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -850%); 

}
.about-me{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -100%);
  color: #bc8181; 
}
.content{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  width: 500px;
  position: absolute;
  top: 55%; 
  left: 50%; 
  transform: translate(-50%,-30%); 
}
.link-boxes {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 65%; 
  left: 50%;
  transform: translate(-50%, 100%);
}

.link-box {
  display: block;
  text-decoration: none;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.link-box:hover {
  background-color: #333;
  color: #fff;
}
.projects-section {
  position: absolute;
  top: 60%; 
  left: 50%; 
  transform: translate(-50%, 100%);
  background:rgba(1,1,1,0.);
  width: 80%;
  text-align: center;
}

.projects-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  color: #bc8181;
  margin-bottom: 20px;
}
.horizontal-bar2 {
  border-radius: 105px;
  width: 40%; 
  height: 5px; 
  background-color: #c9c1c1; 
  position: absolute;
  top: 63%; 
  left: 48%; 
  transform: translate(-50%,0%); 
}
.horizontal-bar3 {
  border-radius: 105px;
  width: 100%; 
  height: 5px; 
  background-color: #c9c1c1; 
  position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%,0%); 
}



