body {
  margin: 0;
  background-color: #ffffff;
  padding: 0;
  transition: background-color 0.3s ease;
}

.main {
  min-height: 100vh;
  padding-bottom: 400px;
  position: relative;
}

.right,
.left {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  border: 5px solid #000000;
  z-index: 1001;
  border-radius: 10px;
}

.right {
  right: -150px;
  transform: rotate(4deg);
}

.left {
  left: -150px;
  transform: rotate(-4deg);
}

.header {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 1001;
}

.center {
  width: 100%;
  position: relative;
  height: 320px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}

.footer {
  overflow: scroll;
  width: 100%;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  z-index: 1001;
  overflow-y: hidden; 
}

.diamond-icon {
  position: absolute;
  top: 25%;
  right: 1%;
  width: 50px;
  height: 50px;
  transform: none;
}

.diamond-icon2 {
  position: absolute;
  top: 25%;
  left: 1%;
  width: 50px;
  height: 50px;
  transform: none;
}

.box {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10px auto;
}

.box img {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}

.link-box {
  position: absolute;
  border: 2px solid transparent;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #050505;
  text-align: center;
  font-size: 16px;
  border-radius: 50px;
  width: 80%;
  height: 8%; 
  transition: box-shadow 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.link-box:hover {
  color: hsl(10, 5%, 75%); 
  border-color: hsl(10, 5%, 75%);
  box-shadow: none; 
}

h2 {
  text-align: center;
  color: black;
  margin: 20px 0;
}

.cart-container {
  width: 300px;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  padding: 30px;
  height: auto;
  text-align: center;
  color: black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-container2 {
  width: 600px;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  padding: 30px;
  height: auto;
  text-align: center;
  color: black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  position: relative;
}

.cart-container2 {
  position: relative;
}
.horizontal-bar2 {
  border-radius: 105px;
  width: 63%;
  height: 20px;
  background-color: #000000;
  transform: translateX(-50%);
  position: absolute;
  top: 120%;
  left: 50%;
  z-index: 1000;
}
.horizontal-bar1 {
  border-radius: 105px;
  width: 55%;
  height: 20px;
  background-color: #000000;
  transform: translateX(-50%);
  position: absolute;
  top: 210%;
  left: 50%;
  z-index: 1001;
}
.star {
  position: absolute;
  top: 88%;
  right: 20%;
  width: 50px;
  height: 50px;
  transform: none;
}
.star2 {
  position: absolute;
  top: 88%;
  left: 20%;
  width: 50px;
  height: 50px;
  transform: none;
}
.star3 {
  position: absolute;
  top: 150%;
  left: 20%;
  width: 50px;
  height: 50px;
  transform: none;
}
.star4 {
  position: absolute;
  top: 150%;
  right: 20%;
  width: 50px;
  height: 50px;
  transform: none;
}
