body {
  height: 100vh;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 30px;
  width: 350px;
  height: 350px;
  background-color: white;
}
.text1 {
  white-space: nowrap;
  animation: slide 3s linear infinite;
}
.text2 {
  position: absolute;
  white-space: nowrap;
  animation: slide2 3s linear infinite;
  margin-left: -5px;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}