body {
  height: 100vh;
  margin: 0;
  background-color: rgb(48, 64, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-content {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 30px;
  width: 350px;
  height: 350px;
  background-color: white;
}
.text1 {
  white-space: nowrap;
  animation: slide 3s linear infinite;
  color: rgb(48, 64, 61);
}
.text2 {
  position: absolute;
  white-space: nowrap;
  animation: slide2 3s linear infinite;
  margin-left: -5px;
  color: rgb(48, 64, 61);

}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}